



ul {
  background-color: #f8f8f8;
  padding: 10px;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: gray;
}
input {
  display: block;
  width: n;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin: 0 10px;
}
img {
  width: 115px;
  height: 115px;
}